
@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');
.Winner{
display:grid;
font-size: 8vw;
align-self: center;
justify-content: center;


}

.glower{
  background-color: transparent;
  
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;


}
.glower1{
  background-color: transparent;
  
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgb(255, 174, 174),
    inset -20px 0 80px #0ff,
    inset 20px 0 300px rgb(27, 0, 77),
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -40px 0 80px #f0f,
    40px 0 80px #0ff;
;width:100%;
float:center

}
.break-cursor-🐶{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐶</text></svg>") 16 0,auto;
}
.break-cursor-🐷{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐷</text></svg>") 16 0,auto;
}
.break-cursor-🐸{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐸</text></svg>") 16 0,auto;
}
.break-cursor-🐹{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐹</text></svg>") 16 0,auto;
}
.break-cursor-🐵{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐵</text></svg>") 16 0,auto;
}
.break-cursor-🐰{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐰</text></svg>") 16 0,auto;
}
.break-cursor-🐭{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐭</text></svg>") 16 0,auto;
}
.break-cursor-🐮{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐮</text></svg>") 16 0,auto;
}
.break-cursor-🐨{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐨</text></svg>") 16 0,auto;
}
span{font-family: 'Montserrat', sans-serif;
    justify-content: center;
  position: absolute;
  width:2500px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:4.2vw;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #460770,
						20px 20px #000000;
}
  
   .first-Click{
/* color: white; */
text-align: center ;

height:100px !important;
color:rgb(255, 255, 255);
font-size:4vw;
/* text-shadow: 1px 1px #ffffff, 
                   2px 2px #ffffff, 
                   3px 3px #ffffff; */
              
}
.first-Click3{
  /* color: white; */
 
  right:80%;
  height:100px !important;
  color:rgb(255, 255, 255);
  font-size:4vw;
  /* text-shadow: 1px 1px #ffffff, 
                     2px 2px #ffffff, 
                     3px 3px #ffffff; */
                
  }

.bubbles {
  
  background-image: url(water.png) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
 animation: water 40s infinite !important;

}
.bubbles h1{
  font-size:4vw !important;
  text-transform: uppercase;
  font-weight:900;
  background-image: url(water.png);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
 animation: water 40s infinite;

}
@keyframes water {
from {
background-position: left 0 top 0;

      }
to {
  background-position: left 1000px top 0;
    }
}




.first-Click1{
  /* color: white; */
  text-align: center !important;
  
  height:250px !important;
  color:rgb(255, 255, 255) !important;
  font-size:3.5vw !important;
  /* text-shadow: 1px 1px #ffffff, 
                     2px 2px #ffffff, 
                     3px 3px #ffffff; */
  }
.second-Click{
    /* color: white; */
    text-align: center ;
  
 
    color:rgb(255, 255, 255);
    font-size:2.1vw;
    /* text-shadow: 1px 1px #ffffff, 
                       2px 2px #ffffff, 
                       3px 3px #ffffff; */
    }
/* 
    .first-Click:hover {
      position: relative; 
      top: -3px; 
      left: -3px; 
      text-shadow: 1px 1px #003268, 
                   2px 2px #003268, 
                   3px 3px #003268, 
                   4px 4px #003268, 
                   5px 5px #003268, 
                   6px 6px #003268;
    } */
    .outlinerz{
        font-family: Arial !important;
  color: white !important;
        font-weight: bold !important;
      
        border-image: url("donut.png") !important;
     
        border-image-width: 100px !important;
  
    }
    .outlinerz:hover {
       color: pink !important;
    }
      .paddings{
margin-left: 65px;
margin-right:65px;
display: flex;
justify-content: space-around;

      }
      .paddings3{
     
        display: flex;
        justify-content: space-between;
        
              }
 .maxer{
width:19vw ;
font-size:2.3vw

 }
 .special-corner{
    border-radius: 5%;
height:420px;

 }
 .special-font{
margin-top:40px;




 } .special-font1{
    color:white;
    font-size:  3.5vw;
    margin-top: 0px;
     }


     
.lifesecondary{
   justify-content: center;
    line-height: 20px;
    height: 160px;
    padding: 40px;
    
    box-shadow: 0 0 0 10px white;
    outline: dashed 10px #012642;
}
.lifedanger{
    justify-content: center;
    line-height: 20px;
    height: 160px;
    padding: 40px;
    box-shadow: 0 0 0 10px white;
    outline: dashed 10px #35000e; 
}

.lifesuccess{
    
    justify-content: center;
    line-height: 20px;
    height: 160px;
    padding: 40px;
    box-shadow: 0 0 0 10px white;
    outline: dashed 10px #013d36;
}
.lifeinfo{
    justify-content: center;
    line-height: 20px;
    height: 160px;
    padding: 40px;
    box-shadow: 0 0 0 10px white;
    outline: dashed 10px #021e42; 
}

  
.lifesecondarys{

   line-height: 20px;


   
   box-shadow: 0 0 0 10px white;
   outline: dashed 10px #012642;
}
.lifedangers{
  
   line-height: 20px;

 
   box-shadow: 0 0 0 10px white;
   outline: dashed 10px #35000e; 
}

.lifesuccesss{
   
  
   line-height: 20px;
 

   box-shadow: 0 0 0 10px white;
   outline: dashed 10px #013d36;
}
.lifeinfos{

   line-height: 20px;
 
  
   box-shadow: 0 0 0 10px white;
   outline: dashed 10px #021e42; 
}
.animals{
  align-self: left !important;
padding-left:10px !important;
font-size: 3vw

}