body {
 
   /* background-image: url("StarfieldSimulation.gif 16-12-04-872.gif"); */
    background-image: url("pp.jpg");
   background-position: right bottom, left top;
   background-size:cover;
   /* background-repeat: no-repeat; */
  
  }
  
   .full-size{
width:100%;
height:100%;

text-align:center
   }
   